In [18]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

dataframe = pd.read_excel("C:/Users/maro-personal/Documents/KurzDataScience/06_data_visualisation/export.xls", sheet_name="Labor", header=1, index_col="Date (Spent)")
dataframe.head()

def groupby_column(dataframe, column):
  groupby = dataframe.groupby(column)
  return({x: groupby.get_group(x) for x in groupby.groups})

usr = groupby_column(dataframe, "User")

usr['Martin Ondrejka'].head()

,User,Activity,Work package,Comment,Project,Units,Cost type,Costs
Date (Spent),,,,,,,,
2023-06-01,Martin Ondrejka,Documentation,K-Revision #1184: K4,-,253 - Stockholm,8.0,Labor,0
2023-06-02,Martin Ondrejka,Other,other #981: Daily tasks - IT,-,IT,6.0,Labor,0
2023-06-05,Martin Ondrejka,Designing,K-Revision #1177: K3-drawing,-,263 - Irvine UK,8.0,Labor,0
2023-06-06,Martin Ondrejka,Documentation,K-Revision #1177: K3-drawing,-,263 - Irvine UK,2.0,Labor,0
2023-06-06,Martin Ondrejka,Designing,P-Drawings #1045: P2 - 263 Irvine UK,-,263 - Irvine UK,6.0,Labor,0